body {
  width: 100%;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif 
}

header h1, nav{
  text-align: center
}

header a{
padding-left: 10px;
padding-right: 10px;
}

#featured-property {
  text-align: center
}

#featured-property p{
  justify-content: center
}

#details div {
  float: left;
  align: center;
  width: 25%;
  background-color: rgb(172, 34, 34);
}